In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\malli\Downloads\Simpli learn\ML\Demo Datasets\Lesson 4\Advertising.csv",index_col=0)

In [4]:
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [5]:
print(df.shape)
print(df.size)
print(df.ndim)

(200, 4)
800
2

In [6]:
df.columns

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [7]:
x=df[['newspaper','radio','TV']]
x.head()

   newspaper  radio     TV
1       69.2   37.8  230.1
2       45.1   39.3   44.5
3       69.3   45.9   17.2
4       58.5   41.3  151.5
5       58.4   10.8  180.8

In [8]:
y=df[['sales']]
y.head()

   sales
1   22.1
2   10.4
3    9.3
4   18.5
5   12.9

In [9]:
print(x.shape)
print(y.shape)

(200, 3)
(200, 1)

In [10]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=1)

In [11]:
print(xtrain.shape)
print(ytrain.shape)
print(xtest.shape)
print(ytest.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [12]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
print(lr.intercept_)

[2.87696662]

In [14]:
print(lr.coef_)

[[0.00345046 0.17915812 0.04656457]]

In [15]:
hy=lr.predict(xtest)
hy

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [47]:
from sklearn.metrics import mean_squared_error
import numpy as np
error=print(np.sqrt(mean_squared_error(hy,ytest)))

1.404651423032897