In [20]:
import pandas as pd
from nltk.corpus import stopwords
import string

In [21]:
dfimd=pd.read_csv("C:\\Users\malli\Downloads\Simpli learn\ML\Lesson 9 - 2\imdb_labelled.txt",sep="\t",names=["comment","label"])

In [22]:
dfimd.head(10)

                                             comment  label
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1
5  The rest of the movie lacks art, charm, meanin...      0
6                                Wasted two hours.        0
7  Saw the movie today and thought it was a good ...      1
8                               A bit predictable.        0
9  Loved the casting of Jimmy Buffet as the scien...      1

In [23]:
dfimd.describe()

            label
count  748.000000
mean     0.516043
std      0.500077
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [24]:
dfimd.groupby("label").describe()

      comment
        count unique                 top freq
label
0         362    361  Not recommended.      2
1         386    384             10/10      2

In [25]:
dfimd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 2 columns):
comment    748 non-null object
label      748 non-null int64
dtypes: int64(1), object(1)
memory usage: 11.8+ KB

In [26]:
dfimd["length"]=dfimd["comment"].apply(len)

In [27]:
dfimd.head()

                                             comment  label  length
0  A very, very, very slow-moving, aimless movie ...      0      87
1  Not sure who was more lost - the flat characte...      0      99
2  Attempting artiness with black & white and cle...      0     188
3       Very little music or anything to speak of.        0      44
4  The best scene in the movie was when Gerardo i...      1     108

In [28]:
dfimd[dfimd["length"]>50]["comment"].iloc[0]

'A very, very, very slow-moving, aimless movie about a distressed, drifting young man.  '

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()

In [36]:
def mutate(a):
    no_punch=[b for b in a if b not in string.punctuation]
    no_punch="".join(no_punch)
    return[c for c in no_punch.split() if c.lower() not in stopwords.words("english")]

In [38]:
bag=CountVectorizer(analyzer=mutate).fit(dfimd["comment"])

In [39]:
bag2=bag.transform(dfimd["comment"])

In [42]:
bag2.shape

(748, 3259)

In [44]:
from sklearn.feature_extraction.text import TfidfTransformer
tfid=TfidfTransformer().fit(bag2)
tfid2=tfid.transform(bag2)

In [45]:
tfid2.shape

(748, 3259)

In [46]:
from sklearn.naive_bayes import MultinomialNB
sentiment=MultinomialNB().fit(tfid2,dfimd['label'])

In [55]:
comment=dfimd["comment"][14]
bag3=bag.transform([comment])
tfid3=tfid.transform(bag3)
print("predicted:",sentiment.predict(tfid3)[0])
print("response:",dfimd['label'][14])

predicted: 1
response: 1