In [1]:
from sklearn.decomposition import PCA
import pandas as pd

In [2]:
from sklearn.datasets import load_iris

In [3]:
df=load_iris()

In [4]:
x=pd.DataFrame(df.data)
x.columns=df.feature_names
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [17]:
x.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),1.000000,-0.117570,0.871754,0.817941
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126
petal length (cm),0.871754,-0.428440,1.000000,0.962865
petal width (cm),0.817941,-0.366126,0.962865,1.000000

In [18]:
x.cov()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),0.685694,-0.042434,1.274315,0.516271
sepal width (cm),-0.042434,0.189979,-0.329656,-0.121639
petal length (cm),1.274315,-0.329656,3.116278,1.295609
petal width (cm),0.516271,-0.121639,1.295609,0.581006

In [6]:
y=pd.DataFrame(df.target)
y['class']=df.target
y.head()

   0  class
0  0      0
1  0      0
2  0      0
3  0      0
4  0      0

In [7]:
y.columns

Index([0, 'class'], dtype='object')

In [8]:
yt=y.iloc[:,1:]
yt.head()

   class
0      0
1      0
2      0
3      0
4      0

In [13]:
x.shape

(150, 4)

In [18]:
x.var()

sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [13]:
yt.shape

(150, 1)

In [14]:
pca=PCA(n_components=2)

In [15]:
pca.fit(x)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [16]:
print(pca.explained_variance_ratio_)

[0.92461872 0.05306648]

In [17]:
first_pca=pca.components_[0]
print(first_pca)

[ 0.36138659 -0.08452251  0.85667061  0.3582892 ]

In [ ]:
two_pca=pca.components_[1]
print(two_pca)

In [26]:
pca_reduced=pca.transform(x)
print(pca_reduced.shape)
re=pd.DataFrame(pca_reduced)

(150, 2)

In [25]:
re.var()

0    4.228242
1    0.242671
dtype: float64